---
const title = 'Welcome to Prog Dog Productions';
const missionStatement = 'Prog Dog seeks to build a network of musicians in the Progressive Metal scene to help them achieve their musical dreams to be the best band and artist they can possibly be both on stage and in the studio.';
const getUpdatesText = 'Get updates via newsletter to keep up with us';
const buttonText = 'Subscribe for Updates';
---

<div class="cta-banner">
<h1>{title}</h1>
<p>{missionStatement}</p>
<div class="get-updates">
    <p>{getUpdatesText}</p>
    <button onclick="window.location.href='https://w3docs.com';">{buttonText}</button>
</div>

<style>
</style>
