---
import {Icon} from 'astro-icon/components'

const footerText = 'Stay in touch: ';
---

<footer>
  <p>{footerText}</p>
  <div class={"logo-div"}>
	<Icon name="logos:facebook" />
	<Icon name="logos:youtube" />
	<Icon name="logos:xtend" />
  </div>
</footer>

<style>
footer {
	display: flex;
  	justify-content: space-between;
}
</style>
