---
const navBarTitle = 'Prog Dog Productions';

const navHome = 'Home';
const navStudio = 'Prog Dog Studios';
const navAbout = 'About';

---
 <div>
	<div>
		<a href="/">
			<h1>{navBarTitle}</h1>
		</a>
	</div>
	<div>
		<a href="/">{navHome}</a>
		<a href="/studio">{navStudio}</a>
		<a href="/about">{navAbout}</a>
	</div>
</div>

<style>
	div {
		display: flex;
  		justify-content: space-between;
	}
	div div a {
		text-decoration: inherit;
		color: inherit;
		padding: 10px;
	}

</style>
